<div class="certificate-container">
  <div class="certificate-slider">
    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/147768/a68e270e"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/basics.png"
          alt="programming-basics"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/166368/8b1db90a"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/fundamentals.png"
          alt="programming-fundamentals"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/173754/9665c94a"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/advanced.png"
          alt="programming-advanced"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/180806/d47f1f87"
        target="_blank"
        ><img class="certificate-image" src="/assets/images/OOP.png" alt="OOP"
      /></a>
    </div>

    <div class="certificates">
      <a
        href="https://softuni.bg/certificates/details/185977/b7b0b8cb"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/postgreSQL.png"
          alt="PostgreSQL"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/193782/1924206d"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/pythonORM.png"
          alt="pythonORM"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/198749/0f5d3023"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/carreer.png"
          alt="carreer"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/204976/c0a5b996"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/html_css.png"
          alt="html_css"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/212178/cc5da696"
        target="_blank"
        ><img class="certificate-image" src="/assets/images/JS.png" alt="JS"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/223027/0a4580b6"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/react.png"
          alt="react"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/229586/885f0f13"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/django_basics.png"
          alt="django_basics"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/233176/613d1e5b"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/django_advanced.png"
          alt="django_advanced"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/147768/a68e270e"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/basics.png"
          alt="programming-basics"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/166368/8b1db90a"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/fundamentals.png"
          alt="programming-fundamentals"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/173754/9665c94a"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/advanced.png"
          alt="programming-advanced"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/180806/d47f1f87"
        target="_blank"
        ><img class="certificate-image" src="/assets/images/OOP.png" alt="OOP"
      /></a>
    </div>

    <div class="certificates">
      <a
        href="https://softuni.bg/certificates/details/185977/b7b0b8cb"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/postgreSQL.png"
          alt="PostgreSQL"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/193782/1924206d"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/pythonORM.png"
          alt="pythonORM"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/198749/0f5d3023"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/carreer.png"
          alt="carreer"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/204976/c0a5b996"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/html_css.png"
          alt="html_css"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/212178/cc5da696"
        target="_blank"
        ><img class="certificate-image" src="/assets/images/JS.png" alt="JS"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/223027/0a4580b6"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/react.png"
          alt="react"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/229586/885f0f13"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/django_basics.png"
          alt="django_basics"
      /></a>
    </div>

    <div class="certificate">
      <a
        href="https://softuni.bg/certificates/details/233176/613d1e5b"
        target="_blank"
        ><img
          class="certificate-image"
          src="/assets/images/django_advanced.png"
          alt="django_advanced"
      /></a>
    </div>
  </div>
</div>
