<section id="student-projects">
  <h2>Student Projects</h2>

  <div class="all-projects">
    <div class="project">
      <h3>The Secret Garden</h3>
      <div class="info">
        <p>
          A Django-based flower and gift e-commerce platform, showcasing CRUD
          functionality, user authentication, and a shopping cart system.
        </p>
        <p>
          <span>Features include:</span> Customer and admin functionality,
          extended user model, async and REST API views, media management with
          Cloudinary, permissions and signals, context processors.
        </p>
      </div>
      <a
        href="https://github.com/Polishko/The-Secret-Garden"
        target="_blank"
        class="project-link"
        >View on GitHub</a
      >
      <div class="image-container">
        <img
          src="/assets/images/the_secret_garden.png"
          alt="The Secret Garden Project Screenshot"
          class="project-image"
        />
      </div>
    </div>

    <div class="project">
      <h3>On Whisker Holidays</h3>
      <div class="info">
        <p>
          A React-powered web application for pet owners to explore pet-friendly
          hotels across select European countries.
        </p>
        <p>
          <span>Features include:</span> Hotel listings, detailed hotel info,
          user interactions, interactive map, real-time weather data, private
          and guest routes, Copntext API and Redux, JSON server as a mock API
          back-end and JSON server auth extension.
        </p>
      </div>
      <a
        href="https://github.com/Polishko/On-Whisker-Holidays"
        target="_blank"
        class="project-link"
        >View on GitHub</a
      >
      <div class="image-container">
        <img
          src="/assets/images/on_whisker_holidays_2.png"
          alt="Petstagram Project Screenshot"
          class="project-image"
        />
      </div>
    </div>
  </div>
</section>
