#student-projects {
  margin: 2em 0;
  padding: 1em;
  border-radius: 1em;
}

#student-projects h2 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.all-projects {
  display: flex;
  gap: 3em;
}

.project {
  margin-bottom: 2em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  flex-basis: 40%;
}

.project h3 {
  color: #b2b4ca;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.project .info {
  font-size: 1em;
  margin-bottom: 1em;
}

.project .info span {
  color: #8790d5;
}

.project .info p:nth-child(1) {
  margin-top: 1em;
}

.project-link {
  background-color: #4d5bce;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-decoration: none;
  margin-bottom: 1em;
  display: inline-block;
}

.project-link:hover {
  background-color: #3b4aa8;
}

.image-container {
  width: 400px;
  height: 280px;
  overflow: hidden;
  border-radius: 1em;
  margin-top: 1em;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

@media (max-width: 1000px) {
  .all-projects {
    flex-direction: column;
    gap: 0;
  }
}
