<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site.title}} -- Project Portfolio</title>
    <link rel="stylesheet" href="/assets/styles/site.css?" />
  </head>
  <body class="page {{about.permalink | slugify}} {{about.title}}">
    <div class="site">
      {% include header.html %}
      <main class="site-content">
        <article class="page">
          <header>
            <h1>{{page.title}}</h1>
          </header>
          <div {% if page.title == "About" %}class="text-hide"{% endif %}>
            {{ content }}
        </div>
        </article>
      </main>

      {% unless page.title == "Contact me" %}
            {% include footer.html %}
        {% endunless %} {% include aside.html %}
    </div>
  </body>
</html>
